<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Login</h1>
    <form action="/users/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/users/register">Register</a></p>
</body>

</html>